<div id="rss_widget">

<style type="text/css">
@import url("http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.css");

#feedControl {
margin-top : 10px;
margin-left: auto;
margin-right: auto;
width : 440px;
font-size: 12px;
color: #9CADD0;
}
</style>
<script type="text/javascript">
function load() {
var feed ="https://groups.google.com/forum/feed/irs-990-collaborative-shared-group-space/msgs/rss.xml";
new GFdynamicFeedControl(feed, "feedControl");
}
google.load("feeds", "3");
google.setOnLoadCallback(load);
</script>
</div>
